/* MAIN STYLING */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "Hurme Geometric Sans";
  src: url(./Hurme\ Geometric\ Sans\ No.1/HurmeGeometricSans1.otf)
    format("opentype");
}

body,
html {
  background-size: 100% 100%;
  padding-bottom: 20px;
  background: white;
  color: black;
  font-size: 13px;
  font-family: "Hurme Geometric Sans", sans-serif;
  overflow-x: hidden;
}

a {
  color: black;
}

.btn-full {
  background: black;
  border-radius: 1%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-full:hover {
  background: white;
  color: black;
  border: none;
}
.clr {
  height: 60px;
  background: white;
}

/*HEADER 1 */
header #first-nav {
  height: 40px;
  width: 100%;
  display: flex;
  color: #000;
}

header #first-nav .row-left {
  margin-left: 30px;
  height: 40px;
  margin-top: 13px;
  font-size: 0.9rem;
  word-spacing: 0.1rem;
  width: 50%;
}

header #first-nav .row-right {
  width: 50%;
}

#first-nav .row-right ul {
  display: flex;
  width: 752px;
  justify-content: flex-end;
  margin-top: 10px;
  list-style: none;
  padding-right: 30px;
  flex-wrap: nowrap;
  align-content: space-between;
  align-items: center;
  margin-right: 30px;
}

#first-nav .row-right ul li {
  padding: 0 2px;
  margin-right: 10px;
}

#first-nav .row-right ul li a {
  text-decoration: none;
}

/* HEADER 2*/

nav {
  width: 100%;
  height: 65px;
}
#logo {
  position: relative;
  left: 14px;
  font-size: 2.2rem;
  width: 10%;
  top: 4px;
}

nav .wrapper {
  position: relative;
  bottom: 15px;
  left: 270px;
  display: flex;
}

.nav-links {
  display: inline-flex;
  font-size: 16px;
  position: relative;
  width: 60%;
  justify-content: center;
}

.nav-links li {
  list-style: none;
  width: 120px;
  text-align: start;
}

.nav-links li a {
  text-decoration: none;
  padding: 9px 9px;
}

.nav-links li a:hover {
  font-weight: bold;
}

/* DROPDOWN MENU */

.nav-links .drop-menu {
  position: relative;
  width: 580px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  background: white;
  z-index: 1;
}
.nav-links li:hover .drop-menu {
  transition: all 0.3s ease;
  top: 0px;
  padding-top: 20px;
  opacity: 1;
  visibility: visible;
  display: flex;
  flex-direction: column;
  right: 8px;
}

.drop-menu li {
  text-align: start;
  width: auto;
}

.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
}

/* SEARCH BAR */

#search {
  position: absolute;
  float: right;
  top: 59px;
  right: 75px;
}

.fa {
  color: #333;
  position: relative;
  bottom: 17px;
  left: 205px;
}

/*TICKER */
.ticker {
  width: 100%;
  height: 45px;
  display: flex;
  align-content: center;
}

.ticker h3,
.ticker h4,
.ticker a {
  position: relative;
  left: 400px;
  top: 5px;
}

.ticker h4 {
  top: 7px;
  padding: 0 10px;
}

.ticker a {
  top: 7px;
}

.ticker i {
  position: relative;
  left: 400px;
  padding: 10px 50px;
}
hr {
  border-bottom: none;
  position: relative;
  bottom: 10px;
}
/*SHOWCASE*/
.showcase {
  height: 75vh;
  opacity: 0.8;
  background: url(./img/showcase.jpg) no-repeat center center/cover;
}

.showcase .btn {
  position: relative;
  top: 520px;
  left: 200px;
}
.showcase p {
  position: relative;
  color: white;
  font-size: 20px;
  top: 410px;
  left: 40px;
  font-weight: bold;
}
/*SECTION SNOW-Girl*/
.snow {
  height: 50vh;
  display: flex;
  opacity: 0.8;
}

.snow .img {
  float: left;
  width: 50%;
  background: url(/img/snow-showcase.jpg) no-repeat center center/cover;
}
.snow .img-content {
  float: right;
  width: 50%;
  background-color: #e1f4f8;
}
.snow .img-content h1 {
  font-size: 3rem;
  position: relative;
  top: 110px;
  left: 250px;
}
.snow .img-content p {
  font-size: 1.2rem;
  position: relative;
  left: 15px;
  top: 125px;
  word-spacing: 0.2rem;
  text-align: center;
}
.snow .img-content a {
  position: relative;
  top: 150px;
  left: 320px;
}

/* SWIMWEAR */
.swimwear {
  height: 100vh;
  display: flex;
  width: 100%;
  opacity: 0.8;
}
.img-swim {
  background: url(/img/girl-1.jpg) no-repeat top center/cover;
  width: 50%;
  float: left;
}
.img-swim-2 {
  width: 50%;
  float: right;
  background: url(/img/girl-2.jpg) no-repeat center center/cover;
}

.img-swim-content {
  position: absolute;
  background: bottom;
  left: 550px;
  top: 1880px;
}

.img-swim-content .title1 {
  position: relative;
  bottom: 20px;
  font-size: 4rem;
  font-weight: 900;
}

.img-swim-content .title2 {
  position: relative;
  bottom: 0px;
  left: 105px;
  font-size: 3rem;
  font-weight: 900;
}

.img-swim-content p {
  position: relative;
  font-size: 1.3rem;
  top: 20px;
  left: 105px;
}
.img-swim-content .btn {
  position: relative;
  top: 50px;
  left: 120px;
}

/* SHOP */

.shop {
  height: 78vh;
}

.shop .title-shop {
  position: relative;
  height: 80px;
  font-size: 1.5rem;
  left: 30px;
  top: 20px;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 20px;
  opacity: 0.8;
}

.img-1 {
  width: 275px;
  height: 450px;
}

.img-2 {
  width: 275px;
  height: 450px;
}
.img-3 {
  width: 275px;
  height: 450px;
}
.img-4 {
  width: 275px;
  height: 450px;
}
.img-5 {
  width: 275px;
  height: 450px;
}

.images .btn {
  position: relative;
  bottom: 20px;
  left: 80px;
  background: bottom;
  color: #000;
  text-decoration: underline;
  font-weight: bolder;
  font-size: 1.5rem;
}

.images .btn:hover {
  color: grey;
}

/* LOGO */
.clr-logo h1 {
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
  height: 50px;
}

/* FOOTER */

footer {
  max-height: 70vh;
  background: #181818;
  color: white;
}
footer hr {
  width: 95%;
  position: relative;
  left: 35px;
}

/* FOOTER SOCIAL*/
.social {
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.2rem;
}
.social .find {
  position: relative;
  top: 50px;
  right: 310px;
}
.find input {
  position: relative;
  top: 20px;
  height: 40px;
  width: 180px;
  background: bottom;
  border: 1px solid #fff;
  color: #fff;
}
.social .follow {
  position: relative;
  top: 180px;
  right: 495px;
}
.follow i {
  padding: 10px 5px;
}
.customer-service {
  position: relative;
  top: 50px;
  right: 150px;
}
.customer-service ul {
  list-style: none;
  font-size: 1.1rem;
}
.customer-service ul li {
  padding: 5px 0;
  font-size: 1rem;
}

.about {
  position: relative;
  top: 50px;
  left: 150px;
}
.about ul {
  list-style: none;
  font-size: 1.1rem;
}
.about ul li {
  padding: 5px 0;
  font-size: 1rem;
}

/* FOOTER LINKS */
.links {
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #666;
}

.links .ski {
  position: relative;
  right: 300px;
  top: 20px;
}

.links .ski ul {
  list-style: none;
}

.links .ski ul li {
  padding: 5px 0;
}

.links .surf {
  position: relative;
  right: 70px;
  top: 20px;
}

.links .surf ul {
  list-style: none;
}

.links .surf ul li {
  padding: 5px 0;
}

.links .swim {
  position: relative;
  left: 140px;
  top: 20px;
}

.links .swim ul {
  list-style: none;
}

.links .swim ul li {
  padding: 5px 0;
}

.links .clothing {
  position: relative;
  left: 300px;
  top: 20px;
}

.links .clothing ul {
  list-style: none;
}

.links .clothing ul li {
  padding: 5px 0;
}

.clr-black {
  background: #181818;
  height: 60px;
}